<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Djantodo List</title>
</head>
<body>
    <div>
        <h1 onclick="location.href='{% url "index" %}'">Djantodo List</h1>
    </div>
    <div>
        {% block page_content %}
            Ce contenu sera remplacé par les différentes pages.
        {% endblock page_content %}
    </div>
</body>
</html>